.paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: #297309;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
